/* importing external font family */
@import url("https://fonts.google.com/specimen/Inter"); 

*{
    text-align: center;
    font-family: Inter;
}
.main-heading{
    font-size: 35px;
}
#categories{
    display: flex;
    padding:10px;
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
}
/* #categories>h3{
    padding: 30px;
    height:25px;
    width:200px;    
    background-color:#f2f2f2 ;
    text-align:center;
    color:black;
} */
#categories>h3:hover{
    background-color:black;
    color:white;
}

.category-selected{
    background-color:black;
    color:white;
    padding: 30px;
    height:25px;
    width:200px;    
    text-align:center;
    
}
.category-not-selected{
    padding: 30px;
    height:25px;
    width:200px;    
    background-color:#f2f2f2 ;
    text-align:center;
    color:black;
    
}
#cards-men,#cards-women,#cards-kids,.cards{
    display:flex;
    justify-content: center;
}

.product-card{
    height:75vh;
    width:17vw;
    margin:15px;
    
}
.product-image{
    height:300px;
    width:100%;
    border-radius: 10%;
    position: relative;
    /* z-index:1; */
    
}
.badge{
    position: absolue;
    top:0px;
    left:0px;
    background-color: #fff;
    color:black;
    font-weight: 100;
    padding: 5px;
    border-radius: 5px;
     z-index:1;
    /* z-index:2; */
}

.product-title-card{
    display: flex;
    justify-content: left;
}
.product-title{
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0;
    width: 50em;
    height: 2em;
    
}
.product-title-space{
    width: 5em;
}
.product-vendor{
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0;
    width: 15em;
}
.product-price-card{
    display: flex;
    justify-content: left;
}
.product-price{
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0;
}

.compare-at-price{
    text-decoration: line-through;
    color:#b4b4b4;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0;
}
.offer{
    color: red;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0;
    
}
.add-to-cart-button{
    background-color: black;
    color: white;
    width:17VW;
    padding:15px;
    font-size: medium;
    border-radius:10px;
}

/* Adding responsives to website using media queries */

@media screen and (min-width: 768px) and (max-width:1024px){
    body{
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    .main-heading{
        font-size: 30px;
    }
    .cards{
        overflow-wrap:visible;
        display:flex;
        justify-content: center;
       
    }
    #categories{
        padding:5px;
        margin: 5px;
       
    }
    .category-selected{
        background-color:black;
        color:white;
        padding: 15px;
        height:30px;
        width:170px;    
        text-align:center;
        
    }
    .category-not-selected{
        padding:15px;
        height:30px;
        width:170px;    
        background-color:#f2f2f2 ;
        text-align:center;
        color:black;
        
    }
    .product-card{
        
        height:75vh;
        width:40vw;
        margin:10px;
    }
    .add-to-cart-button{
        width:40VW;
        
    }
    
}

@media (max-width: 767px){
    body{
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    .main-heading{
        font-size: 25px;
    }
    .cards{
        overflow-wrap: normal;
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    #categories{
        padding:5px;
        margin: 5px;
       
    }
    .category-selected{
        background-color:black;
        color:white;
        padding: 15px;
        height:20px;
        width:170px;    
        text-align:center;
        
    }
    .category-not-selected{
        padding:15px;
        height:20px;
        width:170px;    
        background-color:#f2f2f2 ;
        text-align:center;
        color:black;
        
    }
    .product-card{
        
        height:75vh;
        width:80vw;
        margin:10px;
    }
    .add-to-cart-button{
        width:80VW;
        
    }
    

}

